.input-field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-field label {
  flex: 1;
  font-weight: bold;
  margin-right: 10px;
}

.input-field input,
.input-field select {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.wider-modal .modal-dialog {
  max-width: 70%; /* Adjust the width as needed */
  margin-top: 100px;
}
